backports.entry-points-selectable==1.1.1
click==8.0.4
distlib==0.3.3
filelock==3.4.0
Flask==2.0.3
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.1
jsonrpclib==0.2.1
MarkupSafe==2.1.1
platformdirs==2.4.0
protobuf==3.17.3
python-dotenv==0.20.0
selenium==3.141.0
six==1.16.0
urllib3==1.26.5
virtualenv==20.10.0
Werkzeug==2.0.3
